:root {
  --yellow: #fecc40;
  --yellow2: #fce482;
  --green: #3ba969;
  --purple: #958bce;
  --gray: #666;
}
.no-js * {
  opacity: 1 !important;
}

.sect {
  padding: 2em;
  overflow-x: hidden;
}
.lazy {
  opacity: 0;
  transition: 0.3s ease;
  transition-delay: 0.3s;
}
.lazy.visible {
  opacity: 1;
}
main {
  position: relative;
}

@media screen and (min-width: 992px) {
  .sect {
    padding: 4em;
  }
}