* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
  min-height: 100%;
}
img {
  max-width: 100%;
}
::selection {
  background: var(--yellow);
}
