:root {
  --baseline: 1.5;
  --baseFontSize: 16px;
  --font1: 'Montserrat';
  --font2: 'Yellowtail';
}

html {
  font-family: var(--font1), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.5px;
  word-spacing: 1px;
  font-size: var(--baseFontSize);
  line-height: var(--baseline);
  color: var(--gray);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font2), sans-serif;
  font-weight: 400;
}
h1, h2 {
  margin-bottom: calc(var(--baseline) * 1rem);
  font-size: calc(4vw + 1.8rem);
  line-height: 1;
}
h3 {
  font-size: calc(1vw + 1.2rem )
}
h4 {
  font-size: calc(1vw + 1rem )
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

li, p {
  margin-bottom: calc(var(--baseline) * .5rem);
}
a {
  text-decoration: none;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  color: var(--gray);
}
a:visited {
  color: inherit;
}

.lead {
  font-size: 125%;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title__default {
  font-family: var(--font1), sans-serif;
  font-size: 50%;
  font-weight: 700;
}
.title__script {
  font-family: var(--font2), script;
}

@media screen and (min-width: 768px) {
  :root {
    --baseFontSize: 19px;
    --baseline: 1.7;
  }
  h1 {
    font-size: calc(2.5vw + 2.5rem);
  }
  .title {
    text-align: left;
  }
  
}