.about {
  background: #f4f4f4;
}
.about__hooks {
  padding: 2em;
}

@media screen and (min-width: 768px) {

  .about__title {
    text-align: right;
  }
  .about__intro {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 700px));
    grid-gap: 4em;
  }

  .about__hooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }
}