.combo {
  padding-bottom: 0;
  position: relative;
  border-top: 12px solid var(--yellow);
  background: white;
  background: linear-gradient(to bottom, white, white, white, var(--yellow2));
  overflow: unset;
  // box-shadow: 0 0 0 12px var(--yellow);
}
.combo::before {
  content: '';
  position: absolute;
  top: calc(-1.8em - 12px);
  left: 0;
  height: 1.8em;
  width: 100%;
  background: linear-gradient(to bottom, transparent, transparent, rgba(0,0,0,0.15));
}
.title__script--combo {
  color: var(--green);
}
.combo__items {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
  flex-direction: column;
  margin: 0 -2em;
  color: var(--yellow);
  font-weight: 700;
  position: relative;
}
.combo__items-item {
  padding: 2em 1em;
  text-align: center;
  background: url(/assets/images/bg-leaf.png) repeat-x center center;
  background-size: auto 100%;
  margin: 1em 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.combo__items-name {
  text-shadow: 0 0 3px rgba(0,0,0,0.8);
  line-height: 1;
  padding: 1em 0;
}

.combo__title,
.combo__text {
  transition: 1s ease ;
  opacity: 0;
}
.visible .combo__text,
.visible .combo__title {
  opacity: 1;
}

.combo__items-img {
  opacity: 0;
  transition: 0.5s ease;
}
.visible .combo__items-img {
  opacity: 1;
}


@media screen and (min-width: 768px) {
  .combo {
    // overflow-x:hidden;
  }
  .combo__items {
    flex-direction: row;
    background: url(/assets/images/bg-leaf.png) repeat-x center center;
    background-size: contain;
    transform:translateY(2em);
    transition: .5s ease-out;
    transition-delay: .5s;
    opacity: 0;
  }
  .visible .combo__items {
    transform:translateX(0%);
    opacity: 1;
  }
  .combo__items-item {
    background: none;
    padding: 0 2em;
  }
  .combo__items-item--3 {
    flex: 1.5;
  }
}

@media screen and (min-width: 992px) {
  .combo__intro {
    display: grid;
    grid-template-columns: minmax(1px, 700px) minmax(1px, 700px);
    align-items: center;
    justify-content: center;
    grid-gap: 4em;
    margin-bottom: 3em;
  }
  .combo__items {
    margin: 0 -4em;
    padding:4em;
  }
  .combo__title {
    text-align: right;
  }
}