.halo-halo {
  background: linear-gradient(to bottom, var(--yellow2), white);
  // padding-top: 6em;
  // margin-top: -3em;
}
.title__script--halohalo {
  color: var(--yellow);
}
.halo-halo__img-wrap {
  text-align: center;
}

.halo-halo__intro,
.halo-halo__img-wrap {
  transition: 0.8s ease;
  transform: translateX(-4em);
  opacity: 0;
  transition-delay: .5s;
}
.halo-halo__intro {
  transform: translateX(4em);
}

.visible .halo-halo__img-wrap,
.visible .halo-halo__intro {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .halo-halo {
    display: grid;
    grid-template-columns: minmax(1px, 700px) minmax(1px, 700px);
    align-items: center;
    justify-content: center;
  }
}