.ice-cream {
  background: white url(/assets/images/bg-icecream.jpg) no-repeat center center;
  background-size: contain;
  opacity: 0;
  transition: 0.8s ease;
  text-shadow: 1px 1px 1px white;
  
}
.visible.ice-cream {
  opacity: 1;
}
.title__script--ice-cream {
  color: var(--purple);
}
.ice-cream__title {
  text-align: center;
}
.ice-cream__image {
  text-align: center;
}
.ice-cream__image {
  opacity: 0;
  transition: 1s ease;
  transform: scale(.7);
  transition-delay: .5s;
}
.visible .ice-cream__image {
  opacity: 1;
  transform: scale(1);
}

@media screen and (min-width: 768px) {
  .ice-cream__intro {
    max-width: 700px;
    margin: 0 auto;
  }
}