.intro {
  background: radial-gradient( white, var(--yellow2));
  background: linear-gradient( to bottom, var(--yellow2), white);
  background: var(--yellow2);
  background: white;
  padding: 2em;
  
  // min-height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  // box-shadow:  inset 0 0 30px rgba(0,0,0,0.3);
}
.no-js .intro {
  position: static;
}
.intro__logo-svg {
  max-width: 100%; 
  height: unset !important;
}
.intro__address {
  font-style: normal;
  text-align: center;
}
.intro__logo {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  .intro__address {
    text-align: left;
  }
  // .intro::before {
  //   content:'';
  //   height: 5px;
  //   background: linear-gradient(to right, var(--purple), var(--green), var(--yellow), var(--yellow), var(--green), var(--purple));
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   width: 100%;
  // }
  .intro__logo {
    margin: 0;
    max-width: 400px;
  }

  .intro__left {
    margin-right: 2em;
  }
}