.outro {
  background: var(--green) url(/assets/images/bg-visit.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
}
.outro__title {
  text-align: center;
}
.title__script--outro {
  color: var(--yellow);
}
.outro__img {
  border-radius: 50%;
  border: 8px solid var(--yellow);
}

.outro__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 0 0 2em;
}

@media screen and (min-width: 768px) {
  .outro__images {
    display: block;
    // grid-template-columns: unset;
  }
  .outro__text {
    max-width: 700px;
    margin: 0 auto;
  }
}